<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499189223668-j9h7lmga7kgmr8gkvkt851b11qhm38tp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499189223668-j9h7lmga7kgmr8gkvkt851b11qhm38tp</string>
	<key>API_KEY</key>
	<string>AIzaSyDxlDqFiMa6iQjVCHU57euCsz6MLyV2pB4</string>
	<key>GCM_SENDER_ID</key>
	<string>499189223668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.brandzapp</string>
	<key>PROJECT_ID</key>
	<string>brandz-n</string>
	<key>STORAGE_BUCKET</key>
	<string>brandz-n.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499189223668:ios:258723a4811ba2c6c94ea1</string>
</dict>
</plist>